def function_name(parameters):
    st1
    st2 
    st3
    st4
    return

In [6]:
fac(7)

5040

In [47]:
def greet(name):
    print('hey ' + str(name) + ' Good morning')

In [48]:
greet(7)

hey 7 Good morning

In [53]:
random.randint(1,100)

88

In [54]:
def add(x,y):
    return x +y

In [56]:
a= add(9,8)

In [57]:
a

17

In [64]:
def greeting(name):
    print('hello ' + name + ' hey')
    return 7

In [65]:
greeting('ajay')

hello ajay hey

7

In [81]:
def sq(num):
    r = 0 
    for var in num:
        r = var ** 2
        yield r

In [82]:
y = [8,7,6,5,5,4,4,4,3]

In [83]:
i = sq(y)

In [85]:
for var in i:
    print(var)

In [89]:
def add_sub(a,b):
    r = a+b
    u = a-b
    return r,u

In [90]:
w,e = add_sub(9,8)

In [91]:
print(w,e,sep='\n')

17
1

In [41]:
def add(x,y):
    return x+y

In [ ]:
def greatest(x,y,z):
    if x

In [42]:
add(5,6)

11

In [43]:
a= add(5,6)

In [44]:
a

11

In [5]:
def greeting(name):
    print('Good Moring ')
    print('hello '+name)
    return 'good bye'

In [6]:
greeting('sachin')

Good Moring
hello sachin

'good bye'

In [7]:
print(print(print(print(print))))

<built-in function print>
None
None
None

In [8]:
print(greeting('ajay'))

Good Moring
hello ajay
good bye

In [9]:
def add(x,y):
    return x+y

In [10]:
add(5,6)

11

In [12]:
print(add(5,6))

11

In [13]:
def start(num):
    for var in range(num):
        print('*'*var)

In [15]:
start(10)

*
**
***
****
*****
******
*******
********
*********

In [16]:
a = add(5,6)

In [17]:
a

11

In [18]:
def ajay(name):
    print('hello '+name)

In [20]:
b = ajay('ajay')

hello ajay

In [21]:
b

In [22]:
from random import choice

In [27]:
def rand(a,b,c):
    """this is my function of choice from random values"""
    return choice([a,b,c])

In [28]:
rand('ajay','sachin','rajesh')

'rajesh'

In [29]:
print(dir(rand))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
fact

In [30]:
rand.__doc__

'this is my function of choice from random values'

In [31]:
def star(n):
    if n % 2 == 0:
        print('its a even number')
    else:
        print('its a odd number ')

In [32]:
star(5)

its a odd number

In [34]:
def eve_odd(num):
    if num % 2:
        return False
    else:
        return True
if eve_odd(int(input('enter a number : '))):
    print('function has some serious issue....')
else:
    print('whola function is working properly....')

enter a number : 4
function has some serious issue....

In [40]:
eve_odd(8)

'a'

In [35]:
bool('')

False

In [36]:
bool('a')

True

In [37]:
add(5,7)

12

In [38]:
a = add(5,7)

In [39]:
a

12

In [39]:
def fact(num):
    print('fact is called :',num)
    if num == 1:
        return 1
    else:
        return num*fact(num-1)

In [40]:
fact(5)

fact is called : 5
fact is called : 4
fact is called : 3
fact is called : 2
fact is called : 1

120

In [32]:
add([1,2,3,4,5],[1,2,3,4,5])

hello world

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [18]:
def fac(num):
    result = 1
    for var in range(1,num+1):
        result = result * var
    return result

In [19]:
fac(5)

120

In [20]:
a = fac(5)

In [21]:
a

120

In [7]:
a = range(1,10)

In [8]:
a

range(1, 10)

In [9]:
for var in a:
    print(var)

1
2
3
4
5
6
7
8
9

In [12]:
def star(num):
    for var in range(1,num):
        print(' '*(11-var)+'* '*var)

In [16]:
a = star(10)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *

In [17]:
a

In [22]:
a = [6,9,3,6,8,54,53,44,]
def msum(num):
    s = 0
    for var in num:
        s = s+var
    return s

In [25]:
msum(a)

183

In [29]:
def greatest(x,y,z): 
    if x >=y and x >= z:
        print('x is greatest')
    elif y >= z:
        print('y is greatest')
    else:
        print('z is greatest')

In [30]:
greatest(57,67,4)

y is greatest

In [36]:
def add_sub(x,y):
    i = x+y
    o = x-y
    return i,o

In [38]:
a,b=  add_sub(9,5)

In [39]:
a

14

In [40]:
b

4

In [12]:
def square(num):
    r = 0
    for var in num:
        r = var ** 2
        yield r

In [16]:
a = [1,2,3,4,5,6,7,8]
t = square(a)

In [17]:
for var in t:
    print(var)

1
4
9
16
25
36
49
64

In [18]:
import random

In [19]:
rand = [ random.randint(1,100) for var in range(10)]
rand

[19, 4, 17, 49, 24, 8, 87, 47, 31, 67]

In [20]:
y = square(rand)

In [21]:
y

In [22]:
for var in rand:
    print(var,end=' ')

19 4 17 49 24 8 87 47 31 67

In [23]:
print(*rand)

19 4 17 49 24 8 87 47 31 67

In [24]:
print(*y)

361 16 289 2401 576 64 7569 2209 961 4489

In [27]:
def add(x,y):
    print('the sum of x+y is')
    return x+y

In [29]:
a = add(6,8)

the sum of x+y is

In [30]:
a

14

In [31]:
a**2

196

In [33]:
rand = [random.randint(1,100) for var in range(30)]

In [35]:
print(rand)

[71, 47, 51, 49, 66, 3, 51, 68, 79, 45, 5, 21, 41, 1, 87, 92, 45, 79, 42, 16, 90, 39, 18, 97, 63, 3, 45, 100, 23, 24]

In [38]:
def func(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [39]:
func(rand,45)

In [40]:
print(rand)

[71, 47, 51, 49, 66, 3, 51, 68, 79, 5, 21, 41, 1, 87, 92, 79, 42, 16, 90, 39, 18, 97, 63, 3, 100, 23, 24]

In [41]:
def n_count(word,item):
    lettercount = 0
    for var in word:
        if var == item:
            lettercount += 1
    return lettercount

In [42]:
n_count('banana','a')

3

In [93]:
print(rand)

[71, 47, 51, 49, 66, 3, 51, 68, 79, 5, 21, 41, 1, 87, 92, 79, 42, 16, 90, 39, 18, 97, 63, 3, 100, 23, 24]

In [94]:
def nc(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [95]:
nc(rand,51)

In [96]:
print(rand)

[71, 47, 49, 66, 3, 68, 79, 5, 21, 41, 1, 87, 92, 79, 42, 16, 90, 39, 18, 97, 63, 3, 100, 23, 24]

In [97]:
def countt(seq,item):
    lettercount = 0
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [98]:
countt('banana','a')

3

In [108]:
def f(num):
    global c
    n = sum(num)
    c = len(num)
    return n

In [109]:
o = f(rand)

In [110]:
o/c

48.96

# Different types of argument
* Positional argument
* Default argument
* Variablelenth argument
* keyword argument

In [116]:
def add(x,y,z): # positional argument
    return x+y+z

In [118]:
add(5,6,8,9)

TypeError: add() takes 3 positional arguments but 4 were given

In [119]:
def mul(a,b=1,c=1):
    return a*b*c

In [123]:
a = mul(a=9,b=6,c=7) # default argument
print(a)

378

In [124]:
x = mul(a=7,b=8)  # default argument
print(x)

56

In [125]:
# positional argumnet
y = mul(c=6,b=4,a=5)  #default argument
print(y)

120

In [126]:
z = mul(b=9,c=7)

TypeError: mul() missing 1 required positional argument: 'a'

* --> args ,tupple , it will iterate the values 
** --> kwargs

In [2]:
def mysum(*args):
    r = 0
    for var in args:
        r = r + var
    return r

In [3]:
mysum(1,2,3,4,5,6,7,8,9,10)

55

In [5]:
mysum(1,2,3,4,7,5)

22

In [6]:
a = ['sachin','ajay','jeet','sachin','vipul']

In [7]:
print(*a)

sachin ajay jeet sachin vipul

In [9]:
for var in a:
    print(var,end=' ')

sachin ajay jeet sachin vipul

In [10]:
a = {'name':'ajay','grass':'python','sachin':'hero','bhai':'bhai'}

In [14]:
def pdict(**kwargs):
    for key,value in kwargs.items():
        print("{} == {}".format(key,value))

In [15]:
pdict(**a)

name == ajay
grass == python
sachin == hero
bhai == bhai

In [16]:
pdict(name='ajay',grass='python',aws='redhar',nikhil='rhcsa')

name == ajay
grass == python
aws == redhar
nikhil == rhcsa

# lamda function in python 
lambda is a anonymous function

In [17]:
x = lambda x : x*x

In [19]:
x(6)

36

In [22]:
y = lambda u,i : u+i

In [23]:
y(15,30)

45

In [24]:
list1 = ['sachin','ajay','sachin','kushal','sachin','gujan','sachin']

In [25]:
unique= []

for var in list1:
    if var not in unique:
        unique.append(var)
        
print(unique)

['sachin', 'ajay', 'kushal', 'gujan']

In [21]:
a = lambda x : x*x

In [22]:
a(8)

64

In [23]:
import random

In [24]:
rand = [ random.randint(1,100) for var in range(20)]

In [25]:
rand

[12, 90, 63, 63, 15, 71, 63, 16, 14, 51, 16, 86, 35, 4, 46, 53, 39, 62, 27, 9]

In [26]:
num = [var for var in range(1,11)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
sq = map(lambda x : x**2 ,num)

In [37]:
sq

In [27]:
sqaure = list(map(lambda x : x**2 ,num))

In [29]:
print(sqaure)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
l = list(map(int,input('enter numbers in , sep : ').split(',')))
l

enter numbers in , sep : 1,2,3,4,5,6,7,8,9,10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
rand

[12, 90, 63, 63, 15, 71, 63, 16, 14, 51, 16, 86, 35, 4, 46, 53, 39, 62, 27, 9]

In [33]:
li = list(filter(lambda x : x%2 == 0,rand))

In [34]:
print(li)

[12, 90, 16, 14, 16, 86, 4, 46, 62]

In [35]:
print(rand)

[12, 90, 63, 63, 15, 71, 63, 16, 14, 51, 16, 86, 35, 4, 46, 53, 39, 62, 27, 9]

In [38]:
lis = list(filter(lambda x :x%2==0,map(int,input().split())))

2 3 4 5 6 88 6 67  77 99 44 66 22

In [39]:
lis

[2, 4, 6, 88, 6, 44, 66, 22]

In [40]:
sum(rand)

835

In [41]:
from functools import reduce

In [43]:
mysum = reduce(lambda x,y : x+y,rand)
print(mysum)

835

In [45]:
m = reduce(lambda x,y : x+y ,list(map(int,input().split())))

1 2 3 4 5 6 7

In [46]:
m

28

In [51]:
eve = lambda x : 'even' \
        if x%2 ==0 else 'odd'

In [52]:
eve(100)

'even'

In [54]:
greatest = lambda x,y,z : 'x is greater' if x>=y and x>=z \
else ('y is greater' if y >= z else 'z is greater')

In [57]:
greatest(15,60,7)

'y is greater'