In [14]:
print(0/0)

ZeroDivisionError: division by zero

In [1]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [2]:
a = 5

In [3]:
a.denominator

1

In [4]:
a.bit_length()

3

In [5]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [50]:
class Human:
    
    """this is the human class we used in our python
    thanks for using"""
    
    legs =2
    hands= 2
    
    def __init__(self,name,age):
        self.name = name 
        self.age = age
        
    #def __repr__(self):
     #   return f'{self.name}\n{self.age}'
        
    def __str__(self):
        return '{}\n{}'.format(self.name,self.age)
    
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False
        
    def set_name(self,n):
        self.name = n
        
    def show(self):
        print('{}\n{}'.format(self.name,self.age))

In [51]:
ajay  =  Human('ajay',22)

In [52]:
ajay

In [53]:
ajay.show()

ajay
22

In [54]:
ajay.set_name('kushal')

In [55]:
print(ajay)

kushal
22

In [33]:
Human.show(ajay`)

ajay
22

In [34]:
print(ajay)

ajay
22

In [35]:
repr(ajay)

'<__main__.Human object at 0x000001B28B93C3C8>'

In [40]:
b = Human('akshay',22)

In [42]:
print(b)

akshay
22

In [46]:
ajay.compare(b)

True

In [47]:
Human.compare(ajay,b)

True

In [49]:
class A:
    def show(self): #method of Class A
        print("Hi I am A classs")
    def hi(self): #method of class A
        print("HI")
class B: 
    def hello(self): #method of class B
        print("Hello world this is B ")
    def hi(self): #method of class B
        print("ha ha ha hi")
class C(A,B): # will follow mro rule --> method resolution order
    pass
one = C()
one.show()
one.hello()
one.hi()

Hi I am A classs
Hello world this is B
HI

In [31]:
class Employee:
    """This is the employee class 
    we can settle the data of employees in this
    claass.
    thank you"""
    
    leave = 5
    
    def __init__(self,name,salary,work):
        self.name = name
        self.salary = salary
        self.work = work
    
    def __repr__(self):
        return "{}\n{}\n{}".format(self.name,self.salary,self.work)
    
    def __add__(self,other):
        print("Bhai-Bhai")
        
    def set_salary(self,sal):
        self.salary = sal
        
    def set_leave(self,a):
        self.leave = a

In [32]:
jeet = Employee('jeet',5000,'programmer')

In [33]:
jeet

jeet
5000
programmer

In [34]:
print(jeet)

jeet
5000
programmer

In [35]:
jeet.salary

5000

In [36]:
jeet.leave

5

In [37]:
jeet.set_leave(10)

In [38]:
jeet.leave

10

In [39]:
bharat = Employee('bharat',6000,'python')

In [40]:
bharat

bharat
6000
python

In [41]:
bharat.leave

5

In [42]:
bharat + jeet

Bhai-Bhai

In [43]:
print(dir(Employee))

['__add__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'leave', 'set_leave', 'set_salary']

In [69]:
class Math:
    
    def __init__(self,num):
        self.num = num
        
    def __repr__(self):
        return f"{self.num}"
        
    def square(self):
        return self.num*self.num
    
    def cube(self):
        return self.num**3

In [70]:
class Ma(Math):
    
    def four(self):
        return self.num**4
    
    def five(self):
        return self.num**5

In [71]:
class C(Ma,Math):
    pass

In [72]:
n = C(5)

In [73]:
n

5

In [74]:
print(n)

5

In [76]:
n.cube()

125

In [78]:
n.five()

3125